body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-container {
    width: 300px; /* Set the desired width for the login container */
    max-width: 80%; /* Alternatively, you can use percentage for responsiveness */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the login container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%; /* Make input fields fill the entire width of the container */
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555;
}